body {
    background: hsl(217, 54%, 11%);
}
p {
    font-size: 18px;
}

.card {
    display: flex;
    background-color: hsl(216, 50%, 16%);
    flex-direction: column;
    padding: 15px;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}

.heading {
    
}